

.center-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;   
    padding: 20%;
            
  }
  
  .center-content {
    text-align: center;     
  }